#blog {
    background-color: var(--background-grey);
    padding: 60px 0;
}

.more-button {
    width: 10%  !important;
}

.float-blog {
    margin: 20px 20px 0 20px;
}

.float-blog div {
    margin: 0;
}

.float-blog div h3 {
    margin: 0;
    padding: 0;

}

#blog hr {
    height:1px;
    background: red;
}

.float-blog .float-left {
    border-radius: 5px;
    margin-right: 15px;
    max-width: 250px;
}

.float-blog .float-right {
    border-radius: 5px;
    margin-left: 15px;
    max-width: 250px;
}