
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans');
@import url('https://fonts.googleapis.com/css?family=Yellowtail&family=Open+Sans&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css");
@import "headers.css";
@import "menu-explode.css";
@import "footer.css";



:root {
    /* Rojo básico (texto, botón menú activo, boton hover, borde botones, etc): #C43721; */
    --basic-red: #C43721;

    /* Segundo tono color rojo (hover botones),  : #ef6d58  */
    --special-red: #ef6d58;

    /* Tercer tono rojo (lateral tabla); #ffd6d1 */
    --tertiary-red: #ffd6d1;

    /* Rojo del fondo del bloque de texto de web-design : #fff6f5 */
    --background-red: #fff6f5;

    /* Color fondo texto cabecera: rgb(103, 103, 103) Aplicar la transparencia necesaria */
    --background-cabecera: rgb(103, 103, 103, 0.5);

    /* Color hover imágenes: rgb(132, 131, 131) Aplicar la transparencia necesaria */
    --images-hover: rgb(132, 131, 131,.4);

    /* Fondo gris claro (fondos, fondo tabla, color del menú redes sociales, etc): #e4e4e4 */
    --background-grey: #e4e4e4;


    /* Fondo pie de página: #323639 */
    --background-footer: #323639;

    /* Texto pie de página: #C1C2C4 */
    --text-footer: #C1C2C4;

    /* Color de los input del pie de página: #829DA2 */
    --input-footer: #829DA2;

    /* Color botones explore more de web-design: #474747 */
    --button-explore: #474747;

    /* Verde hover botón enviar comentario: #189232 */
    --hover-submit: #189232;

    /* Rojo hover botón reset comentario: #ff0000 */
    --hover-reset: #ff0000;

    /* Colores hover botones redes sociales: 
    ●	dribbler: #EA4C89;
    ●	facebook: #3B5998;
    ●	google-plus: #DB4A39; */
    --button-dribbler: #EA4C89;
    --button-facebook: #3B5998;
    --button-google-plus: #DB4A39;

}



.regular-button {
    background-color: white;
    border: 1px solid black;
    box-sizing: border-box;
    margin: 10px 0 0 0;
    height: 37px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.reverse {
    transform: scale(-1, 1);
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
}

.experiences-flex-column a {
    border-style: solid;
    border-width: 1px;
    border-color: var(--basic-red);
    color: var(--basic-red);
    padding: 5px;

}

.flex-center-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.red-dashed {
    text-decoration: underline;
    color: var(--basic-red);
}

button {
    cursor: pointer;
}

.more-button {
    color: var(--basic-red);
    background-color: white;
    border-color: var(--basic-red);
    padding: 10px 0;
    margin: 10px 0;
    border-style: solid;
    min-width: 100%;
}

.more-button:hover {
    color: white;
    background-color: var(--basic-red);

}


.float-button {
    color: var(--basic-red);
    background-color: white;
    border-color: var(--basic-red);
    padding: 10px 0;
    margin: 10px;
    border-style: solid;
    float: right;
    width: 20% !important;
}

html{
    font-family: "Nunito Sans", sans-serif;
    display: grid;
    grid-template-areas: "hd"
    "mn"
    "ft";
    font-size: 16px;
}


h1, h2, h3 {
    font-family: "Yellowtail", sans-serif !important;
}

h2 {
    color: var(--basic-red);
    font-size: 25px !important;
}

.gigantic {
    font-size: 40px;
}


h1 {
    font-size: 90px !important;
}


.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.clearfix {
    overflow: auto;
}

html {
    margin: 0;
    padding: 0;
    font-size: 16px;
}



.container {
    width: 1170px;
    margin:0 auto;
}

.weird {
    font-family: 'Courier New', Courier, monospace;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}








.exploding-image {
    transition: all 0.3s;
    display: inline-block;

}

.exploding-image img {
    margin: 0 !important;
}

.exploding-image:hover{
    transform: scale(1.2);
}

.exploding-image:hover::before {
    content: "+";
    background-color: var(--images-hover);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 100%;
    height: 100%;

    font-size: xx-large;
    font-weight: 900;
    position: absolute;

}









