#experiences {
    padding-top: 60px;
}


.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.experiences-flex-row {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
    column-gap: 30px;

}

.experiences-flex-column {
    display: flex;
    flex-direction: column;
    width: 23%;

}

.experiences-flex-column div {
    margin: 10px 0;
}



.experiences-flex-column figure {
    margin: 0;
}

.experiences-flex-column figure img {
    border-radius: 5px;
    padding: 0;
    margin: 5px 0;
    width: 100%;
}

