.header {
    grid-area: hd;
    
}


.flex-header {
  display: flex;
  width: 1170px;
  margin: 0 auto;
}

.header-top {
    margin: 0;
    padding: 0;
    border: none;
     flex: 1; /* each header-top occupies one space in the div */
}


header ul {
    list-style-type: none;
    border: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  header ul li {
    float: left;
  }
  
  header ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  header ul li a:hover {
    background-color: #111;
  }

.header-image {

    /* flex declaration */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;

    overflow: visible;

    
    /* images */
    background-image: url(../images/header.jpg);
    background-size: cover;

}

.secondary-image-header {
    

  /* images */
  background-image: url(../images/inner_header.jpg);

}


.anika-container {

    /* flex declaration */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    /* styling */
    border-radius: 10px;
    background-color: #333;

  
    /* dimensions */
    width: 30%;
}

.anika-container .anika-text {
    padding: 15px 0;
    text-align: center;
}
.anika-container div {
    padding: 5px 0;
}
