header ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: start;
    align-content: start;


    border: none;
    margin: 0;
    padding: 2px 0;
    overflow: hidden;
    background-color: white;
    column-gap: 10px;

    height: 80%;

  }
  
  header ul li {
    float: left;
    border: 1px solid var(--basic-red);
    flex: 1;

    border-radius: 3px;
  } 
  
  header ul li a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: var(--basic-red);
    text-decoration: none;
    

    width: 100%;
    height: 100%;
}

header ul li a span {
    height: fit-content;
}

  
header ul li:hover {
    background-color: var(--basic-red);
    color: white;
}

header ul li:hover a {
    color: white;
}

.header-top nav input, .header-top nav label {
    display: none;
}


  /* mobile */







@media (max-width: 768px){


    .header-top {
        width: 100%;
        z-index: 3;
    }

    header ul {
        margin: 0;
        padding: 0;
        list-style: none;
        overflow: hidden;
        color: black !important;
    }

    header ul a {
        display: block;
    }


    .header-top ul a:hover {

    }

    .header-top .logo {
        float: left;
        display: block;
        font-size: 2em;
        padding: 10px 20px;
    }

    .header-top .menu {
        clear: both;
        max-height: 0;
        transition: max-height .2s ease-out;
    }

    .header-top .menu-icon {
        float: right;
        padding: 28px 20px;
        position: relative;
        cursor: pointer;
    }

    .header-top .menu-icon .nav-icon {
        display: block;
        height: 2px;
        width: 18px;
        position: relative;
        transition: background .2s ease-out;

    }

    .header-top .menu-icon .nav-icon::before {
        background-color: #333;
        content: "";
        display: block;
        height: 100%;
        position: absolute;
        width: 100%;
        top: 5px;
        transition: all .2s ease-out;
    }

    .header-top .menu-icon .nav-icon::after {
        background-color: #333;
        content: "";
        display: block;
        height: 100%;
        position: absolute;
        width: 100%;
        top: -5px;
        transition: all .2s ease-out;
    }

    .header-top .menu-btn {
        display: none;
    }

    .header-top .menu-btn:checked ~ .menu {
        max-height: 240px;
    }

    .header-top .menu-btn:checked ~ .menu-icon .nav-icon {
        background: transparent;
    }

    .header-top .menu-btn:checked ~ .menu-icon .nav-icon:before {
        transform: rotate(-45deg);
        top: 0;/*  we set it up before to negative 5 and positive 5  */
    }

    .header-top .menu-btn:checked ~ .menu-icon .nav-icon:after {
        transform: rotate(45deg);
        top: 0;
    } 
} 