@media (max-width: 768px){

    h1 {
        font-size: 50px;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 20px;
    }

    .design-light-color {
        font-size: 20px;
    }

    .team-flex-row {
        flex-direction: column;
    }

    .experiences-flex-row {
        flex-direction: column;
    }

    .float-button {
        display: block;
        width: 100%;
        background-color: black !important;
    }

    .clear-fix h2 {
        display: block;
        width: 100%;
        text-align: center;
    }
    
    .red-dashed {
        color: red;
    }
    
    img[src="images/profile.jpg"]{ 
        float: none;
        display: block;
        border-radius: 100%;
    }
}