@import "mobile-footer.css";



@media (max-width: 768px) {
    h1 {
        font-size: 50px;
    }

    html {
        width: 100vw;
    }

    .container {
        width: 100%;
        margin: 0 auto;
    }

    section {
        width: 100%;
        margin: 1% auto;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 20px;
    }

    
}