@media (max-width: 768px) {
    
    .footer-flex-row {
        flex-direction: column;
    }

    .footer-flex-row:nth-last-child(1) {
        display: grid;
        grid-template-areas: "footerarea footerarea"
        "footerarea footerarea";
        margin-bottom: 3%;
        grid-gap: 1rem;
    }

    .footer-flex-row:nth-last-child(1) div {
        grid-area: "footerarea";
    }



}