h2 {
    text-align: center;
    width: 100%;
    padding: 0;
}

table {
    border: 1px solid #CCC;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid black;
    border-collapse: collapse;
}


.light-blue-row {
    background-color: var(--background-grey);
}

/* .header-red {
    text-align: left;
    background-color: red;

} */

.container-table {
    padding: 0;
}

.container {
    padding: 0;
}

.header-red th {
    text-align: left;
}

thead tr td, thead tr th {
    border-collapse: collapse;
    background-color: var(--basic-red);
    color: white;
    border-style: none;
}

td, th {
    text-align: center;
}

tr th:first-child { 
    background-color: var(--tertiary-red);
    border-left: none;
    text-align: left;
}



.design-light-color {
    font-size: 30px;
}






