blockquote {
    background-color: #fff6f5;
    font-size: 1.2em;
    margin: 50px auto;
    color: var(--special-red);
    padding: 30px 20px 30px 0px;
    border-left: 6px solid #C43721;
    line-height: 1.6;
    position: relative;
    max-width: 80%;
  }

  blockquote div {
    padding-left: 100px;
  
  }
  
  blockquote::before {
    content: "\201C";
    color: #C43721;
    font-size: 4em;
    font-style: italic;
    position: absolute;
    left: 10px;
    top: -20px;
  }