@import "web-design-quote.css";

.web-design-content {
    
    border-right: 1px solid gray;
    padding: 10px;
    width: 78%;
}


/* form  {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

form span {
    flex: 1;
} */


label, input {
    display: block;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}



label {
    font-size: small;
}

form div {
    margin: 10px 0;
}

form div:nth-child(1), form div:nth-child(2), form div:nth-child(3) {
    width: 30%;
}

form div:nth-child(4), form div:nth-child(5) {
    width: 48%;
}

form div:nth-child(6) {
    width: 100%;
}

input {
    padding: 10px;
    border: 1px solid black;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
}

label {
    margin-bottom: 5px;
}

.required {
    color: red;
    font-weight: bolder;
    font-size: medium;
}

select {
    border: 1px solid black;
    box-sizing: border-box;
    width: 100%;
    padding: 13px;
}

textarea {
    width: 100%;
    box-sizing: border-box;
}

form button {
    width: 100%;
}




/* Comments */

/* .comments {
    display: flex;
    align-content: space-around;
    flex-direction: column;
    row-gap: 5px;
} */



.single-comment {
    background-color: grey;
    padding: 10px;
    margin: 5px 10px 5px 0;
}

.single-comment img {
    border: 1px solid black;
    padding: 4px 2px;
}

.comment-user {
    font-weight: bold;
    font-style: italic;
}

.comment-user a {
    color: gainsboro;
}

.comment-date {
    font-size: smaller;
    margin-top: 5px;
}

.comment-text {
    margin: 15px 15px 30px 15px;
}


/* Float right part */


.more-on-blog {

    width: 18%;
}

.more-on-blog ul {
    padding: 0;

}

.more-on-blog ul a {
    
    color: black;
}

.explore-more-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;

}

.explore-more-buttons button {
    background-color: black;
    border: none;
    border-radius: 5px;
    color: white;
    margin: 0 20px 10px 0;
    padding: 10px 15px;
    width: fit-content;
}