header ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: start;
    align-content: start;


    border: none;
    margin: 0;
    padding: 2px 0;
    overflow: hidden;
    background-color: white;
    column-gap: 10px;

    height: 80%;
    

  }
  
  header ul li {
    float: left;
    border: 1px solid var(--basic-red);
    flex: 1;

    border-radius: 3px;
    background-color: white;
  } 
  
  header ul li a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: var(--basic-red);
    text-decoration: none;
    

    width: 100%;
    height: 100%;
}



header ul li a span {
    height: fit-content;
}

  
header ul li:hover {
    background-color: var(--basic-red);
    color: white;
}

header ul li a:focus {
    background-color: var(--special-red);
}

header ul li:hover a {
    color: white;
}

.exploding-menu nav input, .exploding-menu nav label {
    display: none;
}


  /* mobile */







@media (max-width: 768px){



    .exploding-menu {
        display: flex;
        flex-direction: column;
        
        width: 100%;
        z-index: 3;
    }

    header ul {
        flex-direction: column;
        margin: 0;
        padding: 0;
        list-style: none;
        overflow: hidden;
        color: black !important;

        position: absolute;
        top: 4em;
        right: 32%;
        width: 40%;

        border-radius: 3px;


    }

    header ul a {
        display: block;
    }

    .exploding-menu .menu {
        clear: both;
        max-height: 0;
        transition: max-height .2s ease-out;
    }

    .exploding-menu .menu-icon {
        float: right;
        padding: 28px 20px;
        position: relative;
        cursor: pointer;
    }

    .exploding-menu .menu-icon .nav-icon {
        float: right;
        display: block;
        background-color: black;
        height: 2px;
        width: 18px;
        position: relative;
        transition: background .2s ease-out;

    }

    .exploding-menu .menu-icon .nav-icon::before {
        background-color: #333;
        content: "";
        display: block;
        height: 100%;
        position: absolute;
        width: 100%;
        top: 5px;
        transition: all .2s ease-out;
    }

    .exploding-menu .menu-icon .nav-icon::after {
        background-color: #333;
        content: "";
        display: block;
        height: 100%;
        position: absolute;
        width: 100%;
        top: -5px;
        transition: all .2s ease-out;
    }

    .exploding-menu .menu-btn {
        display: none;
    }

    .exploding-menu .menu-btn:checked ~ .menu {
        max-height: 240px;
    }

    .exploding-menu .menu-btn:checked ~ .menu-icon .nav-icon {
        background: transparent;
    }

    .exploding-menu .menu-btn:checked ~ .menu-icon .nav-icon:before {
        transform: rotate(-45deg);
        top: 0;/*  we set it up before to negative 5 and positive 5  */
    }

    .exploding-menu .menu-btn:checked ~ .menu-icon .nav-icon:after {
        transform: rotate(45deg);
        top: 0;
    } 
} 