@media (max-width: 768px){


    header {
        width: 100%;
    }

    .exploding-menu {
        display: flex;
        justify-content: end;
        flex: 1;
    }

    .header-image {
        width: 100%;
    }

    .opening-menu {
        display: none;
    }
    
    .flex-header {
        width: 100% !important;
        margin: 0;
        padding-left: 0;
    }
    
}