@media (max-width: 768px) {
    
    footer {
        width: 90%;
        grid: "footer";
    }

    .footer-flex-row {
        flex-direction: column;
    }

    .footer-flex-row:nth-last-child(1) {
        display: grid;
        grid-template-areas: "footerarea footerarea"
        "footerarea footerarea";
        margin-bottom: 3%;
        grid-gap: 1rem;
    }


    footer hr {
        width: 100% !important;
    }

    .day-images {
        width: 100%;
        box-sizing: border-box;
    }

}