@media (max-width: 768px){

    .design-light-color {
        font-size: 20px;
    }

    .team-flex-row {
        flex-direction: column;
    }

    .experiences-flex-row {
        flex-direction: column;
    }

    .experiences-flex-column {
        width: 100%;
    }

    .experiences-flex-column figure {
        width: 100%;
    }

    .experiences-flex-column figure img {
        min-width: 100%;
    }
    
    .float-button {
        box-sizing: border-box;
        float: none;
        margin: 0;
        min-width: 100%;
    }

    .clear-fix h2 {
        display: block;
        width: 100%;
        text-align: center;
    }
    
    .red-dashed {
        color: red;
    }
    
    img[src="images/profile.jpg"]{ 
        display: block;
        float: none;
        border-radius: 100%;
        width: 90%;
        margin: 0 auto;
    }

    .team-flex-row {
        flex-direction: column;
        align-items: center;
    }

    .team-flex-column {
        width: 70%;
        justify-content: center;
        align-content: center;

    }

    .team-flex-column img {
        min-width: 100%;
    }

    /* .float-blog img {
        display: inline-block;
        float: none;
    } */

    .float-blog div {
        display: flex;
        flex-direction: column;
    }

}